* {
  margin: 0;
  padding: 0;
}
li {
  margin-left: 30px;
}

.slide {
  background: top left no-repeat;
  background-image: url(attr(id) ".png");
  background-size: 100%;
  bottom: 27px;
  display: none;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  /*min-width: 1000px;*/
  /*min-height: 500px;*/
  width: 1440px;
  height: 900px;
  font-family: "Robotoregular", "arial";
}

.clickable_area {
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  text-decoration: none;
  z-index: 20;
}

.highlight_area {
  background-color: rgba(255, 0, 0, 0);
  border: 3px solid #ff4802;
  border-radius: 10px;
  position: absolute;
}
.home {
  background: url("images/home.png") center no-repeat;
  border-radius: 10px;
  bottom: calc(5% + 20px);
  height: 90px;
  left: calc(90% + 20px);
  position: absolute;
  width: 90px;
  z-index: 100;
}

.bubble {
  background: #146dba url("images/next.png") calc(100% - 30px) center no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  bottom: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  height: 130px;
  justify-content: center;
  left: 10%;
  padding-left: 200px;
  padding-right: 150px;
  position: absolute;
  right: 10%;
  text-shadow: 0 0 1px black;
  z-index: 10;
}
.bubble_hand {
  background-image: url("images/cursor.png");
}
.bubble_happy::before, .bubble_hum::before {
  bottom: 0;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  width: 200px;
}
.bubble_happy::before {
  background-image: url("images/girl_happy.png");
}
.bubble_hum::before {
  background-image: url("images/girl_hum.png");
}
/*.next {
  top: 630px;
  left: 600px;
  position: absolute;
  z-index: 20;
}*/

.arrow {
  position: absolute;
}
.counter {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.counter #counter_progress {
  background-color: #146dba;
  height: 10px;
}
